* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
}

div {
}

#logo-section {
  flex: 1 1 33%;
  background-image: url("images/bubbles.jpg");
  background-size: cover;
}

#text-section {
  flex: 2 1 66%;
}

#logo-background-banner {
  margin-top: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(77, 103, 118, 0.729);
  padding: 5px 20px 5px 20px;
}

#logo-icon {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

img {
  height: clamp(100px, 10vw, 130px);
}

#logo-text {
  flex: 1 1 auto;
  font-size: clamp(15px, 2vw, 20px);
}

h1 {
  font-family: "Young Serif", serif;
  color: white;
}

#text-section {
  display: flex;
  flex-direction: column;
}

#text-section div {
  height: clamp(220px, 33vh, 350px);
}

#text-top {
  background-color: #f9fafb;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-top-content:first-child {
  padding-bottom: 20px;
}

.text-top-content {
  font-weight: 500;
  font-size: 1.5rem;
}

#text-middle {
  padding: 15px;
  box-shadow: 0 4px 10px 0px #d8d9da;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  max-height: 300px;
}

#text-title {
  font-size: 1.5rem;
  padding: 15px 0 0 20px;
}

form {
  display: flex;
  max-width: 500px;
}

label {
  color: #232d3a;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  font-size: 70%;
  font-weight: 600;
}

input {
  width: 200px;
  margin-bottom: 20px;
  padding: 7px;
  border-radius: 3px;
  border: solid 1px #ebecef;
  font-size: 90%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 50%;
  padding: 20px;
}

#text-bottom {
  flex: 1;
  margin-top: 10px;
  padding: 20px;
  background-color: #f9fafb;
}

button {
  margin: 0px 0px 30px 30px;
  width: 180px;
  height: 45px;
  border-style: none;
  background-color: #4d6776ba;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px #969696;
  font-size: 90%;
  letter-spacing: 0.05rem;
}

#login {
  margin-left: 30px;
}

a {
  color: #4d6776ba;
  text-decoration: none;
}
