* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Young Serif", serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  border: solid 2px green;
}

div {
  border: solid 1px gray;
}

#logo-section {
  flex: 1 1 33%;
  background-image: url("images/bubbles.jpg");
  background-size: cover;
}

#text-section {
  flex: 2 1 66%;
}
