* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Young Serif", serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  border: solid 2px green;
}

div {
}

#logo-section {
  flex: 1 1 33%;
  background-image: url("images/bubbles.jpg");
  background-size: cover;
}

#text-section {
  flex: 2 1 66%;
}

#logo-background-banner {
  margin-top: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(77, 103, 118, 0.729);
  padding: 5px 20px 5px 20px;
}

#logo-icon {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

img {
  width: clamp(150px, 20vw, 200px);
}

#logo-text {
  flex: 1 1 auto;
  font-size: clamp(15px, 2vw, 20px);
}

h1 {
  color: white;
}
